.footer-view{
  background: #020110;
  height: 100px;
  opacity: .8;
  color: $white;
  position: relative;
  text-align: center;
  .footer-text{
    padding: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a{
      color: white;
      text-decoration: none;
    }
  }
  .follow-buttons{
    display:inline-block;
  }

}