.home-view {

  .button-container {
    @include container(980px);
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .button-styling {
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    background: $white;
    padding: 20px;
    height: 100px;
    width: 50%;
    opacity: .95;
    font-family: $header-font-family;
    font-size: 32px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 40px;
  }
}