.post-view{
  background-color: $white;
  opacity: 1;
  padding: 20px;
  $grey: darkgrey;
  $lightgrey: #dadada;
  $accent: darken($grey,20);
  $accent2: darken($lightgrey,20);
  .post-grid {
    margin:0;
    padding:0;
    display: flex;
    flex-flow:row wrap;
    align-content: stretch;
    .single-post {
      padding:20px;
      margin: 0 5px;
      cursor: pointer;
      transition: background linear 0.5s;
      border-bottom:1px solid $accent;
      color: #727272;
      flex-grow: 1;
      .header-style-2{
        font-weight: bold;
      }
      &:hover {
        background:$accent;
        color: darken(#727272,30);

      }
    }
  }
  .back-arrow{
    img{
      width: 20px;
      height: 20px;
    }
  }
  .comments{
    display: inline-block;
    float: left;
    img{
      width:20px;
      height:20px;
    }
  }
  .likes{
    display: inline-block;
    float: right;
    img{
      width:20px;
      height:20px;
    }
  }
  .like-button{
    color: black;
    background: $lightgrey;
    padding: .5em 1em;
    border: solid 1px #c0c0c0;
    border-radius: 0;
    font-size: 18px;
    margin-right: 5px;
    img{
      width:15px;
      height:15px;
    }
    &:hover {
      background:$accent2;
    }
  }

  .post {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:1;
    padding-bottom:30px;
    cite {
      display:inline-block;
      padding:10px 0;
    }
    .post-image{
      opacity: 1;
      img{
        width: 100%;
        height: auto;
      }
    }

  }
  .share-container{
    display: flex;
    align-items: flex-start;

  }
  .post-body{
    font-size: 18px;
    img{
      height: 200px
    }
    a{
      color: $primary-text-color;
      &:hover{
        color:-webkit-link;
      }
    }
  }
  .share-buttons{
    display: flex;
    font-size: 18px;
    img{
      padding: 0 5px;
      width: 40px;
      height: 40px;
    }
  }
}