.ui-view{
  background-color: $white;
  opacity: .95;
  padding: 20px;

.form-input{
  font-size: 18px;
  input{
    height: 20px;
    width: 250px;
  }
}
.form-image img{
  height: 20px;
  width:20px;
}

}