.rsvp-view {
  background-color: $white;
  opacity: .95;
  padding: 20px;

  .rsvp-gallery {
    @include container(940px);

  }
  .underline{
    text-decoration: underline;
  }
  .divider-line{
    width: 100%;
    border-bottom: solid;
    border-width: thin;
    border-color: darkgrey;
  }
  .emoji{
    display:inline-block;
    margin: 5px 0 0 0;
  }
  .gallery-label {
    display: inline-block;
    background-image: url('/images/expandmore.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45px;
    padding-left: 45px;

  }
  .gallery-label-active{
    display: inline-block;
    background-image: url('/images/expandless.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45px;
    padding-left: 45px;
  }
  .rsvp-gallery-item {
    width: 100%;
    height: 275px;
    padding: 5px;
    display: inline-flex;
  }
  .rsvp-gallery-item-title {
    height: 50px;
    font-weight: bold;
  }
  .rsvp-gallery-image {
    cursor: pointer;
    background-color: black;
    height: 150px;
    width: 100%;
    img {
      height: 150px;
      width: 100%;
    }
  }
  .top-button {
    cursor: pointer;
    display: block;
    padding-bottom: 11px;
  }
  .rsvp-gallery-description {
    line-height:18px;
    margin: 0;
    img{
      height:18px;
      width: 18px;
    }
  }

  @include breakpoint(475px) {
    .rsvp-gallery-item {
      width: 200px;
    }

    .rsvp-gallery-image {
      width: 200px;
      img {
        width: 200px;
      }
    }
  }
}