
<div class="rsvp-view">
<div class="header-style1"> R&middot;S&middot;V&middot;P&middot; Links</div>
    <div class="header-style2">Events by Date</div>
    <div class="header-style2">
        <a ng-click="rsvp.scrollTo(10)">March 10</a> &middot;
        <a ng-click="rsvp.scrollTo(11)">March 11</a> &middot;
        <a ng-click="rsvp.scrollTo(12)">March 12</a> &middot;
        <a ng-click="rsvp.scrollTo(13)">March 13</a> &middot;
        <a ng-click="rsvp.scrollTo(14)">March 14</a> &middot;
        <a ng-click="rsvp.scrollTo(15)">March 15</a> &middot;
        <a ng-click="rsvp.scrollTo(16)">March 16</a> &middot;
        <a ng-click="rsvp.scrollTo(17)">March 17</a> &middot;
        <a ng-click="rsvp.scrollTo(18)">March 18</a> &middot;
        <a ng-click="rsvp.scrollTo(19)">March 19</a> &middot;
        <a ng-click="rsvp.scrollTo(20)">March 20</a>
    </div>
    <div class="header-style1">Recently Added</div>
    <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | orderBy: '-dateAdded' | limitTo: 8">
        <div class="rsvp-gallery-item-container">
            <div class="rsvp-gallery-item-title">{{item.title}}</div>
            <a href="{{item.link}}">
                <div class="rsvp-gallery-image">

                    <img  src="{{item.image}}">


                </div>
            </a>
            <div class="rsvp-gallery-description">
                <!--<p>{{item.description}}</p>-->
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    <div class="rsvp-gallery">
        <div id="10" class="header-style1">March 10</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 10, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <div id="11" class="header-style1">March 11</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 11, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>
        <div id="12" class="header-style1">March 12</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 12, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="13" class="header-style1">March 13</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 13, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>


        <div id="14" class="header-style1">March 14</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 14, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="15" class="header-style1">March 15</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 15, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="16" class="header-style1">March 16</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 16, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="17" class="header-style1">March 17</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 17, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="18" class="header-style1">March 18</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 18, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="19" class="header-style1">March 19</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 19, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="20" class="header-style1">March 20</div>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 20, 2016'}">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img  src="{{item.image}}" >


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

    </div>
</div>