
<div class="rsvp-view">
<div class="header-style1">Best R&middot;S&middot;V&middot;P&middot; Links 2016</div>
    <div class="header-style2">Full List Available at <a class="underline" href="http://keeganslistsxsw.wordpress.com">Keegan's List</a></div><br>
    <div class="header-style2">
        Go To:
        <a class="underline" ng-click="rsvp.scrollTo(10)">March 10</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(11)">March 11</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(12)">March 12</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(13)">March 13</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(14)">March 14</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(15)">March 15</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(16)">March 16</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(17)">March 17</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(18)">March 18</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(19)">March 19</a> &middot;
        <a class="underline" ng-click="rsvp.scrollTo(20)">March 20</a>
    </div>
    <div id="1" ng-class="{'gallery-label-active':!rsvp.isSet(1),'gallery-label':rsvp.isSet(1)}"
         class="gallery-label header-style1" ng-click="rsvp.setTab(1)">Recently Added</div><br>
    <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | orderBy: '-dateAdded' | limitTo: rsvp.limit.i1">
        <div class="rsvp-gallery-item-container">
            <div class="rsvp-gallery-item-title">{{item.title}}</div>
            <a href="{{item.link}}">
                <div class="rsvp-gallery-image">

                    <img err-src="/images/comingsoon.png" src="{{item.image}}">


                </div>
            </a>
            <div class="rsvp-gallery-description">
                <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                <p class="description" ng-bind-html="item.description"></p>
            </div>
        </div>
    </div>
    <div class="header-style1 callout">The Daily Breakdown: Best then the Rest</div>
    <div class="header-style2 callout">Click the tabs for more events</div>
    <div class="rsvp-gallery">
        <div id="10" ng-class="{'gallery-label-active':!rsvp.isSet(10),'gallery-label':rsvp.isSet(10)}"
             class="header-style1" ng-click="rsvp.setTab(10)">March 10</div><br>
        <div class="rsvp-gallery-item" ng-repeat="item in rsvp.list | filter: {date : 'March 10, 2016'} | orderBy: 'order' | limitTo: rsvp.limit.i10">
            <div class="rsvp-gallery-item-container" >
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>
        <div id="11" ng-class="{'gallery-label-active':!rsvp.isSet(11),'gallery-label':rsvp.isSet(11)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(11)">March 11</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 11, 2016'} | orderBy: 'order' | limitTo: rsvp.limit.i11">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>
        <div id="12" ng-class="{'gallery-label-active':!rsvp.isSet(12),'gallery-label':rsvp.isSet(12)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(12)">March 12</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 12, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i12">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="13" ng-class="{'gallery-label-active':!rsvp.isSet(13),'gallery-label':rsvp.isSet(13)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(13)">March 13</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 13, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i13">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>


        <div id="14" ng-class="{'gallery-label-active':!rsvp.isSet(14),'gallery-label':rsvp.isSet(14)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(14)">March 14</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 14, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i14">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="15" ng-class="{'gallery-label-active':!rsvp.isSet(15),'gallery-label':rsvp.isSet(15)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(15)">March 15</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 15, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i15">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="16"  ng-class="{'gallery-label-active':!rsvp.isSet(16),'gallery-label':rsvp.isSet(16)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(16)">March 16</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 16, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i16">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="17" ng-class="{'gallery-label-active':!rsvp.isSet(17),'gallery-label':rsvp.isSet(17)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(17)">March 17</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 17, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i17">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="18" ng-class="{'gallery-label-active':!rsvp.isSet(18),'gallery-label':rsvp.isSet(18)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(18)">March 18</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 18, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i18">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="19" ng-class="{'gallery-label-active':!rsvp.isSet(19),'gallery-label':rsvp.isSet(19)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(19)">March 19</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 19, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i19">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}">


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

        <div id="20" ng-class="{'gallery-label-active':!rsvp.isSet(20),'gallery-label':rsvp.isSet(20)}"
             class="gallery-label header-style1" ng-click="rsvp.setTab(20)">March 20</div><br>
        <div class="rsvp-gallery-item"
             ng-repeat="item in rsvp.list | filter: {date : 'March 20, 2016'}| orderBy: 'order' | limitTo: rsvp.limit.i20">
            <div class="rsvp-gallery-item-container">
                <div class="rsvp-gallery-item-title">{{item.title}}</div>
                <a href="{{item.link}}">
                    <div class="rsvp-gallery-image">

                        <img err-src="/images/comingsoon.png" src="{{item.image}}" >


                    </div>
                </a>
                <div class="rsvp-gallery-description">
                    <p class="emoji" ng-if="item.beer"><img src="/images/beer.png"> Free Drinks!</p>
                    <p class="emoji" ng-if="item.food"><img src="/images/food.png"> Free Food!</p>
                    <p class="description" ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="divider-line"></div>

        <a class="top-button" ng-click="rsvp.scrollTo('')">Back To Top</a>

    </div>
</div>