<div class="footer-view" ng-controller="FooterController as footer">
    <div class="footer-text">
       <div class="follow-buttons"> <iframe allowtransparency="true"
                frameborder="0" scrolling="no"
                src="//platform.twitter.com/widgets/follow_button.html?screen_name=CheatSheetATX&show_count=false"
                width="157"
                style="overflow:hidden; height:20px;"></iframe> &middot; </div><div class="follow-buttons"> Website By:
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="//platform.twitter.com/widgets/follow_button.html?screen_name=StevieDoes&show_count=false"
                width="134"
                style="overflow:hidden; height:20px;"></iframe> &middot;</div> <div class="follow-buttons"> Content By:
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="//platform.twitter.com/widgets/follow_button.html?screen_name=ChrisKeegan&show_count=false"
                width="142"
                style="overflow:hidden; height:20px;"></iframe></div>
    </div>
</div>