<div class="footer-view" ng-controller="FooterController as footer">
    <div class="footer-text">Follow <a class="twitter-follow-button" data-show-count="false"
                                       href="https://twitter.com/CheatSheetATX">
        Follow @CheatSheetATX</a> &middot; Website By: <a class="twitter-follow-button" data-show-count="false"
                                                          href="https://twitter.com/StevieDoes">
        Follow @StevieDoes</a>  &middot; Content By: <a class="twitter-follow-button" data-show-count="false"
                                                           href="https://twitter.com/ChrisKeegan">
        Follow @ChrisKeegan</a> </div>
</div>