.rsvp-wrapper{
.header-style1 {


}
.rsvp-gallery{
 @include container(940px);
 
}
.rsvp-gallery-item{
max-width: 200px;
height: 300px;
padding: 5px;
}
.rsvp-galley-image{
padding-bottom: 10px;
}
.rsvp-gallery-description{

}


}