@font-face {
  font-family: SansThin;
  src: url("/fonts/UniSansThin.otf"); }

html {
  color: #727272;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  background-image: url("/images/img6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  html body {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; }
    html body:after {
      content: " ";
      display: block;
      clear: both; }

.form-input {
  font-size: 18px; }
  .form-input input {
    height: 20px;
    width: 250px; }

.header-style1 {
  font-family: SansThin, sans-serif;
  font-size: 36px; }

.header-style2 {
  padding: 10px 0;
  cursor: pointer;
  font-family: SansThin, sans-serif;
  font-size: 16px;
  display: inline-block; }

.header-view {
  height: 200px; }
  .header-view .nav-bar {
    text-align: center;
    background: #020110;
    padding: 20px;
    height: 150px;
    opacity: .8;
    color: #FFF;
    font-family: SansThin, sans-serif;
    font-size: 32px; }
    .header-view .nav-bar .header-style2 {
      font-size: 15px; }
  .header-view .header-buttons {
    display: inline-block; }
  .header-view .header-name {
    padding-left: 5px; }
  .header-view .logo img {
    width: 35px;
    height: 35px; }
  @media (min-width: 400px) {
    .header-view .header-style2 {
      font-size: 15px; }
    .header-view .logo img {
      width: 50px;
      height: 50px; } }

.footer-view {
  background: #020110;
  height: 100px;
  opacity: .8;
  color: #FFF;
  position: relative;
  text-align: center; }
  .footer-view .footer-text {
    padding: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .footer-view .footer-text a {
      color: white;
      text-decoration: none; }
  .footer-view .follow-buttons {
    display: inline-block; }

.home-view .button-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%; }
  .home-view .button-container:after {
    content: " ";
    display: block;
    clear: both; }

.home-view .button-styling {
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  background: #FFF;
  padding: 20px;
  height: 100px;
  width: 50%;
  opacity: .95;
  font-family: SansThin, sans-serif;
  font-size: 32px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  overflow: hidden; }

.rsvp-view {
  background-color: #FFF;
  opacity: .95;
  padding: 20px; }
  .rsvp-view .rsvp-gallery {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; }
    .rsvp-view .rsvp-gallery:after {
      content: " ";
      display: block;
      clear: both; }
  .rsvp-view .underline {
    text-decoration: underline;
    color: #727272; }
    .rsvp-view .underline:hover {
      color: -webkit-link; }
  .rsvp-view .description a {
    color: #727272; }
    .rsvp-view .description a:hover {
      color: -webkit-link; }
  .rsvp-view .divider-line {
    width: 100%;
    border-bottom: solid;
    border-width: thin;
    border-color: darkgrey; }
  .rsvp-view .emoji {
    display: inline-block;
    margin: 5px 0 0 0; }
  .rsvp-view .gallery-label {
    display: inline-block;
    background-image: url("/images/expandmore.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45px;
    padding-left: 45px; }
  .rsvp-view .gallery-label-active {
    display: inline-block;
    background-image: url("/images/expandless.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45px;
    padding-left: 45px; }
  .rsvp-view .rsvp-gallery-item {
    width: 100%;
    height: 275px;
    padding: 5px;
    display: inline-flex; }
  .rsvp-view .rsvp-gallery-item-title {
    height: 50px;
    font-weight: bold; }
  .rsvp-view .rsvp-gallery-image {
    cursor: pointer;
    background-color: black;
    height: 150px;
    width: 100%; }
    .rsvp-view .rsvp-gallery-image img {
      height: 150px;
      width: 100%; }
  .rsvp-view .top-button {
    cursor: pointer;
    display: block;
    padding-bottom: 11px; }
  .rsvp-view .rsvp-gallery-description {
    line-height: 18px;
    margin: 0; }
    .rsvp-view .rsvp-gallery-description img {
      height: 18px;
      width: 18px; }
  @media (min-width: 475px) {
    .rsvp-view .rsvp-gallery-item {
      width: 200px; }
    .rsvp-view .rsvp-gallery-image {
      width: 200px; }
      .rsvp-view .rsvp-gallery-image img {
        width: 200px; } }

.ui-view {
  background-color: #FFF;
  opacity: .95;
  padding: 20px; }
  .ui-view .blog-input {
    font-size: 18px; }
    .ui-view .blog-input input {
      height: 20px;
      width: 250px; }
    .ui-view .blog-input textarea {
      display: block;
      width: 250px;
      padding: 10px;
      font-size: 1.1em; }
  .ui-view .form-input {
    font-size: 18px; }
    .ui-view .form-input input {
      height: 20px;
      width: 250px; }
  .ui-view .checkbox-input {
    font-size: 18px; }
    .ui-view .checkbox-input input {
      height: 20px; }
  .ui-view .form-image img {
    height: 20px;
    width: 20px; }

.login-view {
  background-color: #FFF;
  opacity: .95;
  padding: 20px; }
  .login-view .error-message {
    color: red; }

.follow-view {
  background-color: #FFF;
  opacity: .95;
  padding: 20px; }
  .follow-view .follow-item {
    height: 200px;
    width: 100%;
    display: inline-block;
    padding: 10px; }
  .follow-view .follow-image {
    height: 100%;
    width: 100%; }
    .follow-view .follow-image img {
      height: 100%;
      width: 100%; }
  .follow-view .follow-button {
    height: 20px;
    width: 100%; }
  @media (min-width: 400px) {
    .follow-view .follow-item {
      width: 44%; } }
  @media (min-width: 500px) {
    .follow-view .follow-item {
      width: 200px; } }

.blog-view {
  background-color: #FFF;
  opacity: .95;
  padding: 20px; }
  .blog-view .post-grid {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch; }
    .blog-view .post-grid .single-post {
      padding: 20px;
      margin: 0 5px;
      cursor: pointer;
      transition: background linear 0.5s;
      border-bottom: 1px solid #767676;
      color: #727272;
      flex-grow: 1; }
      .blog-view .post-grid .single-post:hover {
        background: #767676;
        color: #262626; }
  .blog-view .back-arrow img {
    width: 20px;
    height: 20px; }
  .blog-view .comments {
    display: inline-block;
    float: left; }
    .blog-view .comments img {
      width: 20px;
      height: 20px; }
  .blog-view .likes {
    display: inline-block;
    float: right; }
    .blog-view .likes img {
      width: 20px;
      height: 20px; }
  .blog-view .like-button {
    color: black;
    background: #dadada;
    padding: .5em 1em;
    border: solid 1px #c0c0c0;
    border-radius: 0;
    font-size: 18px; }
    .blog-view .like-button img {
      width: 15px;
      height: 15px; }
    .blog-view .like-button:hover {
      background: #a7a7a7; }
  .blog-view .post {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
    padding-bottom: 30px; }
    .blog-view .post cite {
      display: inline-block;
      padding: 10px 0; }
    .blog-view .post .post-image {
      opacity: 1; }
      .blog-view .post .post-image img {
        width: 100%;
        height: auto; }

.post-view {
  background-color: #FFF;
  opacity: 1;
  padding: 20px; }
  .post-view .post-grid {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch; }
    .post-view .post-grid .single-post {
      padding: 20px;
      margin: 0 5px;
      cursor: pointer;
      transition: background linear 0.5s;
      border-bottom: 1px solid #767676;
      color: #727272;
      flex-grow: 1; }
      .post-view .post-grid .single-post:hover {
        background: #767676;
        color: #262626; }
  .post-view .back-arrow img {
    width: 20px;
    height: 20px; }
  .post-view .comments {
    display: inline-block;
    float: left; }
    .post-view .comments img {
      width: 20px;
      height: 20px; }
  .post-view .likes {
    display: inline-block;
    float: right; }
    .post-view .likes img {
      width: 20px;
      height: 20px; }
  .post-view .like-button {
    color: black;
    background: #dadada;
    padding: .5em 1em;
    border: solid 1px #c0c0c0;
    border-radius: 0;
    font-size: 18px;
    margin-right: 5px; }
    .post-view .like-button img {
      width: 15px;
      height: 15px; }
    .post-view .like-button:hover {
      background: #a7a7a7; }
  .post-view .post {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
    padding-bottom: 30px; }
    .post-view .post cite {
      display: inline-block;
      padding: 10px 0; }
    .post-view .post .post-image {
      opacity: 1; }
      .post-view .post .post-image img {
        width: 100%;
        height: auto; }
  .post-view .share-container {
    display: flex;
    align-items: flex-start; }
  .post-view .post-body {
    font-size: 18px; }
    .post-view .post-body img {
      height: 200px; }
    .post-view .post-body a {
      color: #727272; }
      .post-view .post-body a:hover {
        color: -webkit-link; }
  .post-view .share-buttons {
    display: flex;
    font-size: 18px; }
    .post-view .share-buttons img {
      padding: 0 5px;
      width: 40px;
      height: 40px; }
