//Fonts
@font-face {
  font-family: SansThin;
  src: url('/fonts/UniSansThin.otf')
}

$base-font-family: Helvetica, Arial, 'MS Trebuchet', sans-serif;
$base-font-size: 14px;
$header-font-family: SansThin, sans-serif;